{% extends 'base.html' %}
{% load static %}

{% block title %} Locatia Clinicii Noastre {% endblock %}

{% block content %}
    <h1 class="my_header text-center">Contact</h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3"><br><br>
                <div class="card" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; background-color: aliceblue">
                    <div class="card-header">
                        <h3 class="text-center">Scrie-ne prin formular!</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Trimite</button>
                        </div>
                        {#                        <script>#}
                        {#                            alert('{{ msg_success }}')#}
                        {#                        </script>#}
                    </form>

                </div>
                <br><br>
            </div>

            <div class="col-md-6 offset-md-3">
                <div class="card" style="display: flex; justify-content: center;
                     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding:50px; margin-top: 10%; margin-bottom: 5%; width:100%; background-color: aliceblue">
                    <div class="card-header" style="background-color: aliceblue">
                        <h3 class="text-center">Scrie-ne pe WhatsApp!</h3>
                    </div>
                    <a class="logo_wapp" style="height: 300px; padding-top: 1px; display: flex; justify-content: center"
                       href="https://api.whatsapp.com/send?phone=+40723751346&text=Buna ziua, as dori o programare va rog!"
                       title="Contacteaza-ne prin WhatsApp">
                        <img src="https://www.freeiconspng.com/thumbs/logo-whatsapp-png/logo-whatsapp-png-file-15.png">
                    </a>
                </div>
            </div>

            <div class="col-md-6 offset-md-3">
                <div class="card"
                     style="display: flex; justify-content: center;
                     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding:50px; margin-top: 10%; margin-bottom: 10%; width:100%; background-color: aliceblue">
                    <div class="card-header" style="background-color: aliceblue">
                        <h3 class="text-center">Adresa Clinicii FlorisDent:</h3>
                    </div>
                    <div class="card-body">
                        <h5 style="text-align: center;">
                            <a class="footer-brand"
                               href="https://www.bing.com/maps?cp=44.1869146~28.6404792&amp;sty=r&amp;lvl=17.980157730520054&amp;rtp=~pos.44.1869134_28.64192____&amp;FORM=MBEDLD"
                               title="Vezi pe harta!">
                                <img src="https://capitol.co.za/wp-content/uploads/2017/08/1000px-Google_Maps_pin.svg_.png"
                                     height="40" style="text-align:  center"></a>
                        </h5>
                        <h4 class="card-title text-center">Bld. Tomis 145, Parter, Cabinet 119 (in spatele Sptalului
                            Judetean, in incinta Policlinicii)</h4>
                    </div>
                </div>
            </div>


            <div>
                <div style="display: flex; justify-content: center">
                    <iframe width="800" height="600" frameborder="0"
                            src="https://www.bing.com/maps/embed?h=600&w=800&cp=44.1869146~28.6404792&lvl=16.6&typ=d&sty=r&src=SHELL&FORM=MBEDV2"
                            scrolling="no" style="margin: 30px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                    </iframe>
                </div>
                <div style=" text-align: center;">
                    <a id="largeMapLink" target="_blank" class="btn btn-success"
                       href="https://www.bing.com/maps?cp=44.1869146~28.6404792&amp;sty=r&amp;lvl=17.980157730520054&amp;rtp=~pos.44.1869134_28.64192____&amp;FORM=MBEDLD"
                       style="text-decoration: none; margin-right: 40px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        Mareste Harta</a>
                    <a id="dirMapLink" target="_blank" class="btn btn-success"
                       href="https://www.bing.com/maps/directions?cp=44.1869146~28.6404792&amp;sty=r&amp;lvl=17.980157730520054&amp;rtp=~pos.44.1869134_28.64192____&amp;FORM=MBEDLD"
                       style="text-decoration: none; margin-right: 40px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        Mergi la Locatie</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}