{% extends 'base.html' %}

{% block title %} Lista programari {% endblock %}

{% block content %}
    <style>
        .table-hover {
            font-weight: bold;
        }

    </style>

    <h2 class="my_header text-center">Lista Mesaje Clinica FlorisDent</h2>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card"
                      style="width: 18rem; position: fixed; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding: 5px; margin: 1px; background-color: transparent">
                    <h2 class="my-h text-center">Filtru Căutare</h2>
                    <hr>
                    <form class="my-h" method="get">
                        {{ my_filter.form.as_p }}
                        <hr>
                        <button type="submit" class="btn btn-success mx-auto"
                                style="display:grid; justify-content:center; width: 8rem; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  margin: 3%;">
                            Cauta
                        </button>
                        <a href="{% url 'list-of-mesaje' %}" class="btn btn-outline-danger mx-auto"
                           style="display:flex; justify-content:center; width: 8rem; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding:3px; margin: 2%;">
                            Șterge Câmpuri</a>
                    </form>
                </div>
            </div>
            <div class="col md-6" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nume</th>
{#                        <th>Email</th>#}
                        <th>Telefon</th>
                        <th>Subiect</th>
                        <th>Dată creare</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mesaj in all_mesaje %}
                        <tr>
                            {% if mesaj.active is True %}
                                <td>{{ mesaj.nume }}</td>
{#                                <td>{{ mesaj.email }}</td>#}
                                <td>{{ mesaj.numar_telefon }}</td>
                                <td>{{ mesaj.subiect }}</td>
                                <td>{{ mesaj.created_at }}</td>
                                <td><a type="button" href="{% url 'detail-mesaj' mesaj.id %}" class="btn btn-primary btn-sm"
                                       style="margin: 4%; width: auto; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Citește</a>
                                </td>
                                <td><a type="button" href="{% url 'rezolvare-mesaj' mesaj.id %}"
                                       class="btn btn-success btn-sm"
                                       style="margin: 4%; width: auto; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Rezolvat</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="{% url 'list-of-mesaje-arhivate' %}" class="btn btn-primary" type="button">Vezi Arhivă Mesaje</a>
    </div>


{% endblock %}