{% extends 'base.html' %}

{% block title %} Locatia Clinicii Noastre {% endblock %}

{% block content %}
    <h1 class="my_header text-center">Clinica FlorisDent - Localizare</h1>
    <br>
    <div class="container-fluid" style="">
        <div>
            <div style="display: flex; justify-content: center">
                <iframe width="800" height="600" frameborder="0"
                        src="https://www.bing.com/maps/embed?h=600&w=800&cp=44.1869146~28.6404792&lvl=16.6&typ=d&sty=r&src=SHELL&FORM=MBEDV2"
                        scrolling="no" style="margin: 30px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                </iframe>
            </div>
            <div style=" text-align: center;">
                <a id="largeMapLink" target="_blank" class="btn btn-warning"
                   href="https://www.bing.com/maps?cp=44.1869146~28.6404792&amp;sty=r&amp;lvl=17.980157730520054&amp;rtp=~pos.44.1869134_28.64192____&amp;FORM=MBEDLD"
                   style="text-decoration: none; margin-right: 40px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    Mărește Harta</a>
                <a id="dirMapLink" target="_blank" class="btn btn-success"
                   href="https://www.bing.com/maps/directions?cp=44.1869146~28.6404792&amp;sty=r&amp;lvl=17.980157730520054&amp;rtp=~pos.44.1869134_28.64192____&amp;FORM=MBEDLD"
                   style="text-decoration: none; margin-right: 40px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    Mergi la Locație</a>
            </div>
        </div>
    </div>


{% endblock %}