{% extends 'base.html' %}
{% load static %}

{% block title %} Mesaj Trimis {% endblock %}

{% block content %}
    <style>
        .b_succes {
            font-weight: bold;
            display: flex;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            color: black;
            text-decoration: none;
            border-radius: 25px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 2px;
            background: #e0ffff;
        }
    </style>

    <h1 class="my_header text-center" style="color: black">Mesaj trimis cu succes</h1>
    <h4 class="my_header text-center" style="font-size: large; color: black">Iți vom răspunde în cel mai scurt timp,
        mulțumim!</h4>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a type="button b_succes" href="{% url 'create-mesaj' %}" class="btn btn-success btn-lg"
                   style="margin: 4%; width: 10%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Contact</a>
                <a type="button b_succes" href="{% url 'home' %}" class="btn btn-success btn-lg"
                   style="margin: 4%; width: 10%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Prima Pagină</a>
            </div>
        </div>
    </div>

{% endblock %}