{% extends 'base.html' %}

{% block title %} Parola Schimbata cu Succes {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                        <h2 class="my-h">Vei primi pe mail o adresa de resetare a parolei!</h2>
                        <BR>
                        <a href="{% url 'login' %}" class="btn btn-info" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">Pagina Logare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}