{% extends 'base.html' %}

{% block title %} Formular Resetare Parola {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                    <h3 class="my-h">Reseteaza Parola</h3>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body text-center">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-danger"
                                    style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">Reseteaza
                            </button>
                            <a href="{% url 'login' %}" class="btn btn-outline-success"
                               style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">Pagina Logare</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}