{% extends 'base.html' %}

{% block title %} Schimbare Parola {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                        <h3 class="my-h">Formular Schimbare Parolă</h3><BR>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-info">Schimbă Parola</button>
                            <a href="{% url 'home' %}" class="btn btn-info">Anulează</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}