{% extends 'base.html' %}

{% block title %} Parola Resetata {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success"
                                    style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">Salveaza
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}