{% extends 'base.html' %}
{% block title %} FlorisDent Prima Pagina {% endblock %}
{% load static %}

{% block content %}
    {#    <body style="background-image: {% static 'images/foto1.png' %}">#}
    <body class="pp_body">
    <style>
        .btn-pp {

            text-decoration: none;
            background-color: #e0ffff;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            font-size: 30px;
            margin: 25px;
            padding: 25px;
            flex: auto;
            text-align: center;
            border-radius: 35px;
        }

        .btn-pp:hover {
            opacity: 0.9;
            color: darkblue;
            background: rgb(252, 252, 252);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 155, 255, 1) 90%);
        }

        .btn-pp:active {
            opacity: 0.8;
            background-color: rgb(100, 172, 226);
            box-shadow: 0 2px 8px #c4b59d;
        }

    </style>
    <div class="col-md-6 offset-md-3" style="font-size: xx-large">
        <h1 class="my_header text-center"> Bun Venit la FlorisDent! </h1>
        <br><br><br>
        <div class="row">
            <a class="btn-pp" href="{% url 'create-programare' %}" type="button" title="Formular programare online">Sunt
                Pacient</a>
            <a class="btn-pp" href="{% url 'login' %}" type="button" title="Logheaza-te">Sunt Doctor</a>
        </div>
    </div>
    </body>
{% endblock %}