{% extends 'base.html' %}

{% block title %} Lista programari Anulate{% endblock %}

{% block content %}
    <h2 class="my_header text-center">Lista Programari Anulate / Arhivate</h2>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card"
                     style="width: 23rem; position: fixed; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding: 5px; margin: 1px; background-color: lightcyan">
                    <h2 class="my-h text-center">Filtru Cautare</h2>
                    <hr>
                    <form class="my-h" method="get">
                        {{ my_filter_anulate.form.as_p }}
                        <hr>
                        <button type="submit" class="btn btn-success"
                                style="width: 10rem; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding:2px; margin: 2%;">
                            Cauta
                        </button>
                        <a href="{% url 'list-of-programari' %}" class="btn btn-outline-danger"
                           style="width: 10rem; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding:2px; margin: 2%;">
                            Sterge Campuri</a>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Prenume / Nume Pacient</th>
                        <th>Varsta</th>
                        <th>Telefon</th>
                        <th>Adresa Email</th>
                        <th>Ora Programare</th>
                        <th>Doctor</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for programari in all_programari_anulate %}
                        <tr>
                            <td>{{ programari.prenume }}, {{ programari.nume }}</td>
                            <td>{{ programari.varsta }}</td>
                            <td>{{ programari.numar_telefon }}</td>
                            <td>{{ programari.email }}</td>
                            <td>{{ programari.ora_programare }}</td>
                            <td>{{ programari.doctor }}</td>
                            <td>
                                <li class="nav-item dropdown" style="list-style-type: none">
                                    <button class="btn dropdown-toggle" id="navbarDropdown"
                                            role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item"
                                               href="{% url 'update-programare' programari.id %}">Modifica</a></li>
                                        <li>
                                            <button type="button" class="dropdown-item btn-info"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#programari_{{ programari.id }}">
                                                Activeaza
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="dropdown-item btn-info"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#programari_sterge{{ programari.id }}" style="color: red">
                                                Sterge
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </td>
                        </tr>
                        <div class="modal fade" id="programari_{{ programari.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Anuleaza Programarea</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Aceasta programare va fi activa din nou:
                                        "{{ programari.prenume }} {{ programari.nume }}, {{ programari.ora_programare }}", apasa
                                        DA pentru a confirma!
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'active-programare' programari.id %}"
                                           class="btn btn-danger">Da</a>
                                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Nu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="programari_sterge{{ programari.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sterge Programarea</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Aceasta programare va fi stearsa:
                                        "{{ programari.prenume }} {{ programari.nume }}, {{ programari.ora_programare }}", apasa
                                        DA pentru a confirma!
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'delete-programare-modal' programari.id %}"
                                           class="btn btn-danger">Da</a>
                                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Nu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="{% url 'list-of-programari' %}" class="btn btn-primary" type="button">Vezi Programarile Active</a>
    </div>


{% endblock %}