{% extends 'base.html' %}
{% block title %} Lista de preturi {% endblock %}


{% block content %}

    <style>
        .dropdown-toggle:hover {
            color: #1c1f23;
        }

        .nav-item {
            list-style-type: none;
        }

        .nav-item:hover {
            font-weight: bold;
        }

        .dropdown-item {
            color: black;
            font-weight: bold;
        }

        .table_thead {
            border: 15px;
            border-radius: 15px;
            font-weight: bold;
            color: black;
            padding: 10px;
        }

        .table-hover {
        {#font-weight: bold;#} color: darkblue;
            opacity: 0.8;
        }

    </style>

    <h2 class="my_header text-center">Lista de preturi - FlorisDent</h2>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card"
                     style="width: 18rem; position: fixed; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding: 5px; margin: 1px; background-color: lightcyan">
                    <h2 class="my-h text-center">Filtru Căutare</h2>
                    <hr>
                    <form class="my-h" method="get">
                        {{ my_filter.form.as_p }}
                        <hr>
                        <button type="submit" class="btn btn-success mx-auto"
                                 style="display:grid; justify-content:center; width: 8rem; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  margin: 3%;">
                            Cauta
                        </button>
                        <a href="{% url 'list-preturi' %}" class="btn btn-outline-danger mx-auto"
                           style="display:flex; justify-content:center; width: 8rem; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; padding:3px; margin: 2%;">
                            Șterge Câmpuri</a>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-light table-hover" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                    <thead class="table_thead" >
                    <tr>
                        <th>Nume serviciu</th>
                        <th>Preț Serviciu</th>
                        <th>Detalii Serviciu</th>
                        <th>Durată (minute)</th>
                        {% if user.is_authenticated %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for pret in all_preturi %}
                        {% if pret.active is True %}
                            <tr>
                                <td>{{ pret.nume_serviciu }}</td>
                                <td>{{ pret.pret_serviciu }}</td>
                                <td>{{ pret.detalii }}</td>
                                <td>{{ pret.durata }}</td>
                                {% if user.is_authenticated %}
                                    <td>
                                        <li class="nav-item dropdown">
                                            <button class="btn dropdown-toggle" id="navbarDropdown"
                                                    role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item"
                                                       href="{% url 'update-preturi' pret.id %}">Modifică</a></li>
                                                <li>
                                                    <button type="button" class="dropdown-item btn-info"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#pret_{{ pret.id }}" style="color: red">
                                                        Șterge
                                                    </button>
                                                </li>
                                                {% if pret.active is True %}
                                                    <li><a href="{% url 'deactivate-pret' pret.id %}"
                                                           class="dropdown-item btn-danger">Dezactivează</a></li>
                                                {% elif pret.active is False %}
                                                    <li><a href="{% url 'activate-pret' pret.id %}"
                                                           class="dropdown-item btn-info>">Activează</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </td>
                                    </tr>
                                    <div class="modal fade" id="pret_{{ pret.id }}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Șterge Serviciu</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Ești sigur că vrei să ștergi serviciul: "{{ pret.nume_serviciu }}"?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'delete-pret-modal' pret.id %}"
                                                       class="btn btn-danger">Da</a>
                                                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                                                        Nu
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
    {% if user.is_authenticated %}
        <div class="d-grid gap-2 col-2 mx-auto">
            <a href="{% url 'list-preturi-dezactivate' %}" class="btn btn-primary" type="button">Servicii
                Dezactivate</a>
        </div>
    {% endif %}

{% endblock %}