{% load static %}
<style>
    .footer-brand:hover {
        opacity: 0.8;
    }

    .page-footer {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    .site-address:hover {
        opacity: 0.8;
        box-shadow: #D4B6DEFF -3px -5px 5px;
    }

</style>


<footer class="page-footer font-medium blue pt-4"
        style="position: static; width:100%; height: auto; padding-bottom: 0px; background-color: #e0ffff; height: 100%">
    <div class="container-fluid text-center text-md-left" style=" background-color: #e0ffff; height: 80px">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text" style="font-weight: bold;">CLINICA FlorisDent</h5>
                <p>Te asteptam la o consultatie gratuita.
                    Fa-ti repede o programare!</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase" style="font-weight: bold;">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <p href="" style="text-decoration: none; color: black"> TELEFON: 0723751346</p>
                    </li>
                    <li>
                        <a class="footer-brand" href="{% url 'locatie' %}" title="Vezi pe harta!">
                            <img src="{% static 'images/pin_maps.svg' %}" height="40"></a>
                    </li>
                    <li>
                        <p style="text-decoration: none; color: black">ADRESA: Bld. Tomis 145, Parter, Cabinet 119
                            (in spatele Sptalului Judetean, in incinta Policlinicii)
                        </p>
                    </li>
{#                    <li>#}
{#                        <a type="button" class="footer-brand" href="{% url 'locatie' %}" title="Vezi pe harta!">#}
{#                            Scrie-ne</a>#}
{#                    </li>#}
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase" style="font-weight: bold;">Social Media</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="footer-brand" href="https://www.facebook.com" title="Mergi pe pagina de Facebook">
                            <img src="{% static 'images/fbsvg.jpg' %}" height="40" style="padding-top: 5px">
                        </a>
                    </li>
                    <li>
                        <a class="footer-brand" href="https://www.instagram.com" title="Mergi pe pagina de Instagram">
                            <img src="{% static 'images/insta.png' %}" height="40"
                                 style=" padding-left: 10px; margin: 8px; padding-top: 5px">
                        </a>
                    </li>
                    <li>
                        <a class="footer-brand" href="https://www.twitter.com" title="Mergi pe pagina de Twitter">
                            <img src="{% static 'images/tweeter.png' %}" height="70"
                                 style=" padding-left: 11px; padding-bottom: 20px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="footer-copyright text-center gy-3"
         style=" background-color: #e0ffff; height: 130px; padding-top: 100px">©
        2022 Clinica
        FlorisDent:
        <a class="site-address" href="https:\\florisdent.ro" style="font-weight: bold; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; color: black;
        text-decoration: none; border-radius: 25px; padding-right: 5px; padding-left: 5px; padding-bottom: 2px;
        background: rgb(252,252,252); background:
        linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(237,155,255,1) 90%);">florisdent.ro</a>
    </div>
    <br>
</footer>