<!-- DespreTrafic.Ro -->
<script type="text/javascript">
document.write('<img src=\"https://script.admin.ro/button.php?u=florisd1&ref='+escape(document.referrer)+'&page='+escape(location.href.replace(/#.+$/,''))+'&rez='+screen.width+'x'+screen.height+'\" alt=\"DespreTrafic\" border=\"0\" width=\"1\" height=\"1\" />');
</script>
<a href="http://www.despretrafic.ro/stats/florisd1" target="_blank"><img src="https://img.admin.ro/images/button1.png" width="88" height="31" border="0" alt="Statistici Trafic" title="DespreTrafic.Ro"></a>
<!-- End of DespreTrafic.Ro -->

{# sau#}

<!-- DespreTrafic.Ro -->
<script type="text/javascript">
document.write('<img src=\"https://script.admin.ro/button.php?u=florisd1&ref='+escape(document.referrer)+'&page='+escape(location.href.replace(/#.+$/,''))+'&rez='+screen.width+'x'+screen.height+'\" alt=\"DespreTrafic\" border=\"0\" width=\"1\" height=\"1\" />');
</script>
<a href="http://www.despretrafic.ro/stats/florisd1" target="_blank"><img src="https://img.admin.ro/images/button2.png" width="88" height="31" border="0" alt="Statistici Trafic" title="DespreTrafic.Ro"></a>
<!-- End of DespreTrafic.Ro -->
