<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>FlorisDent - Stomatologie</title>
</head>
<style>
    .button:hover {
        opacity: 0.7;
        font-family: SansSerif;
    }
    .main-content {
        min-height: 50vh;
    }
</style>
<body style="background-image: url('https://www.florisdent.ro/florisdent_project/static/images/pac_body.jpg'); background-size: cover; background-repeat: no-repeat">
<header style="margin: 10px;">
    <div class="container">
        <a class="button" href="https://www.florisdent.ro" title="Acceseaza pagina noastra web!">
            <img src="https://www.florisdent.ro/florisdent_project/static/images/logo_florisdent.svg" height="100"
                 style="display: block; margin: auto;"
                 href="https://www.florisdent.ro">
        </a>
    </div>
</header>
<br>

<br>
<content class="main-content">
<h1 style=" text-align: center; text-shadow: 1px 1px #1c87c9; font-family: 'Arial Black', 'Calibri';">LUCRAM
    INTENS LA ACEST SITE,</h1>
<h1 style=" text-align: center; text-shadow: 1px 1px #1c87c9; font-family: 'Arial Black', 'Calibri';">VA FI
    GATA FOARTE CURAND</h1>
<br>
<h3 style=" text-align: center; text-shadow: 1px 1px #1c87c9; font-family: 'Arial Black', 'Calibri';">Vei
    putea sa te
    programezi direct din site cat de curand!</h3>
</content>
<br><br><br><br><br><br><br><br><br><br><br>
<style>
    .footer-brand:hover {
        opacity: 0.8;
    }

    .footer-brand:hover {
        opacity: 0.8;
    }

    .page-footer {
        position: absolute;
    {#left: 0;#} bottom: 10px;
        padding: 20px;
        width: 100%;
        border: 1px solid lightgray;
        clear: both;
    }
</style>

<footer class="page-footer font-medium blue pt-4" style="background-color: #e0ffff; height: 50%; margin: 0px; padding: 0px">

    <!-- Footer Links -->
  <div class="footer-copyright text-center gy-3" style="background-color: #e0ffff; height: 130px">
        ©
        2022
        FlorisDent
    </div>
  	<br><br>
    <div class="container-fluid text-center text-md-left" style="background-color: #e0ffff; height: 80px">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-0" style="background-color: #e0ffff;">
                <h5 class="text">FlorisDent</h5>
                <p>Te asteptam la o consultatie gratuita.
                    Fa-ti repede o programare!</p>
            </div>
            <hr class="clearfix w-5 d-md-none pb-0">
            <div class="col-md-3 mb-md-0 mb-0" style="background-color: #e0ffff;">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <p href="" style="text-decoration: none; color: black"> TELEFON: 0723751346</p>
                    </li>
                    <li>
                        <a class="footer-brand" href="{% url 'locatie' %}" title="Vezi pe harta!">
                            <img src="https://capitol.co.za/wp-content/uploads/2017/08/1000px-Google_Maps_pin.svg_.png"
                                 height="40"></a>
                    </li>
                    <li>
                        <p style="text-decoration: none; color: black">ADRESA: Bld. Tomis 145, Parter, Cabinet 119
                            (in spatele Sptalului Judetean, in incinta Policlinicii)
                        </p>
                    <hr>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-0" style="background-color: #e0ffff;">
                <h5 class="text-uppercase">Social Media</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="footer-brand" href="#" title="Mergi pe pagina de Facebook">
                            <img src="https://www.florisdent.ro/florisdent_project/static/images/fbsvg.jpg" height="40"
                                 style="padding-top: 5px">
                        </a>
                    </li>
                    <li>
                        <a class="footer-brand" href="#" title="Mergi pe pagina de Instagram">
                            <img src="https://www.florisdent.ro/florisdent_project/static/images/insta.png" height="40"
                                 style=" padding-left: 10px; margin: 8px; padding-top: 5px">
                        </a>
                    </li>
                    <li>
                        <a class="footer-brand" href="#" title="Mergi pe pagina de Twitter">
                            <img src="https://www.florisdent.ro/florisdent_project/static/images/tweeter.png"
                                 height="70"
                                 style=" padding-left: 11px; padding-bottom: 20px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
</body>
</html>
