<!DOCTYPE html>
<html lang="en">
<head style="background: darkblue">
    <meta charset="UTF-8">
    <title>Clinica FlorisDent-Programare</title>
</head>
<div style="background-color: lightcyan;">
    <div class="col-sm-4">
        <div class="card" style="width: auto">
            <header style="margin: 0px;">
                <div class="col-sm-4">
                    <div class="card">
                        <a class="button" href="https://www.florisdent.ro" title="Acceseaza pagina noastra web!">
                            <img src="https://www.florisdent.ro/florisdent_project/static/images/florisdent_logo.svg"
                                 height="30"
                                 style="display: block; margin: auto"
                                 href="https://www.florisdent.ro">
                        </a>
                        <br>
                        <h1 style="text-align: center">O noua programare-FlorisDent!</h1>
                        <br>
                        <h1 style=" text-align: center">Bună, {{ details_user.doctor.nume_doctor }}! </h1>
                    </div>
                </div>
            </header>
            <br><br>
            <h3 style="text-align: center">Programarea a fost modificată. Va fi la data /
                ora: {{ details_user.ora_programare }}</h3>
            <h3 style="text-align: center">Pacientul este: {{ details_user.nume }}, {{ details_user.prenume }}</h3>
            <br>
            <h4 style="text-align: center"> O zi frumoasă! </h4>
            <br>
            <h4 style="text-align: center; text-shadow: darkblue;">
                <a class="button" href="https://www.florisdent.ro" style="text-decoration: none"
                   title="Acceseaza pagina noastra web!">florisdent.ro</a>
            </h4>
        </div>
    </div>
</div>

</body>
</html>